.h1 {
  line-height: normal;
  color: #3B434E;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
}

.h2 {
  line-height: normal;
  color: #3B434E;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
}

.h3 {
  line-height: normal;
  color: #3B434E;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}